/* Root Variables */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --primary-hover: #0069d9;
  --secondary-hover: #5a6268;
  --background-color: whitesmoke;
  --text-color: black;
  --textarea-bg-color: white;
  --textarea-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  --text-color-secondary: #6c757d;
  --btn-color: whitesmoke;
  --btn-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Dark Mode Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #375a7f;
    --secondary-color: #444;
    --primary-hover: #2c3e50;
    --secondary-hover: #333;
    --background-color: #2c2c2c;
    --text-color: #f1f1f1;
    --textarea-bg-color: #444;
    --textarea-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
    --text-color-secondary: #999999;
    --btn-color: #f1f1f1;
    --btn-shadow: none;
  }
}

/* Button Styles */
button {
  cursor: pointer;
}

/* Clariff Root Container */
#clariff-root {
  min-height: 0;
  min-width: 0;
  width: 500px;
  max-height: 600px;
  height: fit-content;
  font-family: sans-serif;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  left: auto;
  border: 3px solid var(--secondary-color);
  background-color: var(--background-color);
  border-radius: 1rem;
  box-shadow: var(--btn-shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  z-index: 9999;
  transition: transform 300ms ease-in-out;
}

/* Reset Margin and Padding for All Child Elements */
#clariff-root * {
  margin-top: 2%;
  margin-bottom: 0;
  padding: 0;
}

/* Header Styling */
#clariff-header,
#clariff-header * {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Title Styling */
#clariff-title {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* Output Container */
#clariff-output-container {
  width: auto;
  flex-grow: 1;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

/* Output Textarea */
#clariff-output {
  width: auto;
  flex-grow: 1;
  border: none;
  outline: none;
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--textarea-bg-color);
  box-shadow: var(--textarea-shadow);
  font-size: 1rem;
  overflow-y: auto;
}

/* Button Group */
#clariff-btn-group {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* Button Styles Inside Button Group */
#clariff-btn-group * {
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  box-shadow: var(--btn-shadow);
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--btn-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  flex-basis: 30%;
  flex-grow: 1;
}

/* Hover Effect for Buttons */
#clariff-btn-group *:hover {
  box-shadow: none;
  background-color: var(--secondary-hover);
}

/* Rephrase Button */
#clariff-rephrase {
  background-color: var(--primary-color);
}

/* Hover Effect for Rephrase Button */
#clariff-rephrase:hover {
  background-color: var(--primary-hover);
}

/* Language Section */
#clariff-language {
  color: var(--text-color);
  font-size: 1rem;
}

#clariff-language-select {
  color: var(--text-color);
  font-size: 1rem;
}

/* Chevron Icon Rotation */
#clariff-close-btn {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: none;
  fill: var(--text-color);
  transition: transform 0.3s ease;
}

/* Hover Effect for Close Button */
#clariff-close-btn:hover {
  fill: var(--text-color-secondary);
}

#clariff-close-btn.open {
  transform: rotate(180deg); /* Rotate chevron when open */
}
/* Hidden State Transition for Root */
#clariff-root[hidden] {
  transition: transform 300ms ease-in-out;
  transform: translateY(90%);
}
